{% extends 'base.html.twig' %}

{% block title %}{{ controller_name }}{% endblock %}

{% block body %}
    <div class="container mt-4">
        <div class="row justify-content-center">
            <div class="col-7 col-sm-7 col-md-6 col-lg-4 col-xl-4 polaroid p-2">
                <img src="/css/back.jpg" class="imgHome">
                <p class="text-center mt-4 font-italic">~ 10/06/1997 ~</p>
            </div>
            <div class="col-8 mt-4 col-sm-8 col-md-7 offset-lg-1 col-lg-6 offset-xl-1 col-xl-6">
                <h2 class="text-center mt-3 pt-3">Bienvenue à l'AéroClub !</h2>
                <p class="lead text-justify mt-4">
                    Notre organisation vous propose des séances de vols lorsque vous êtes membre dans notre société.<br>
                    Vous trouverez toutes les informations necessaire (forfait, abonnement etc...) sur ce site, ainsi qu'un visuel de votre compte si vous êtes membre chez nous.
                </p>
            </div>
        </div>
    </div>
{% endblock %}
