html {
    scroll-behavior: smooth;
}

.polaroid {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.imgHome {
    width: 100%;
    opacity: 0.8;
}
.homepage {
    background-image: url("background.jpg") !important;
    background-size: cover;
    background-position: center;
}
.children-homepage {
    background-color: rgba(255,255,255,0.2);
    padding: 18.9%;
}
