{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-4">
                <div class="card border-success mt-4" style="width: 100%;">
                    <div class="card-header">Nombre total de membre</div>
                    <div class="card-body text-center">
                        <p class="card-text">{{ numberuser }} adhérent(s)</p>
                    </div>
                </div>
            </div>
        </div>
        <table class="table table-striped mt-4">
            <thead>
            <tr>
                <th>Compte</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for user in users %}
                <tr>
                    <td>{{ user.email }}</td>
                    <td>
                        <a href="{{ path('admin-profil', {'id': user.numMembre}) }}" class="btn btn-secondary">Consulter</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
